@charset "utf-8";
/* CSS Document */
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
    font-family: Cambria, Georgia, serif;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
    color: #FFF;
	background:url(../images/PhotoGallery1/galleryBG.jpg) 0px -30px no-repeat #282828;
        height: 100%;
}
#header {
    background: url(../images/PhotoGallery1/headerBG_01.png) repeat-x;
    height:101px;
}
#container {
    height: auto;
    min-height: 100%;
}
#footer {
    background: url(../images/PhotoGallery1/footerBG.png) repeat-x;
    clear: both;
    position: absolute;
    z-index: 10;
    height: 101px;
    margin-top: 101px;
    text-align: center;
    bottom:0;
    width: 100%;
}
#footer span{
    position: absolute;
    top: 40%;
    left: 38%;
}
#logo {
    font-size: 3em;
    float:left;
    text-align: left;
    width: 60%;
    padding: 1.5% 5%;
}
#logo a{
    text-decoration: none;
    color:inherit;
}
#navigation {
    float: left;
    width: 30%;
    padding-top: 1.85%;
}
#navigation li{
    list-style-type: none;
    display:inline;
    padding-right: 4%;
}
#navigation a{
    color:inherit;
    text-decoration: none;
}
#navigation a:hover{
    text-decoration: underline;
}
#content {
    padding-top: 12%;
}
.photo {
    display: inline-block;
    width: 40px;
    height: 300px;
    border: 5px solid #FFF;
    background-repeat: no-repeat;
    background-position: center;
}
.ui-dialog-titlebar {
    display: none;
}
#photoCaption {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5% 0;
    display: none;
    
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
#photoDialogClose {
    position:absolute;
    top: 10px;
    right: 22px;
}
#photoScreen {
    width:96%;
    height:97%;
    background-color:#000;
    position: absolute;
    text-align: center;
}